MSSQL_SA_PASSWORD=password132
KESTREL_CERTIFICATE_PASSWORD=password123
KESTREL_CERTIFICATE_PATH=/https/aspnetapp.pfx

ConnectionStrings__DefaultConnection='Server=localhost,1433;Database=CleanBlazor;User=sa;Password=${MSSQL_SA_PASSWORD};TrustServerCertificate=True;'
ASPNETCORE_Kestrel__Certificates__Default__Password=${KESTREL_CERTIFICATE_PASSWORD}
ASPNETCORE_Kestrel__Certificates__Default__Path=${KESTREL_CERTIFICATE_PATH}
